fastapi
uvicorn[standard]
python-multipart
python-dotenv

yt-dlp
pydub
ffmpeg-python

requests

huggingface-hub
transformers
torch
torchaudio

langchain
langchain-core
langchain-community
langchain-text-splitters
langchain-chroma
langchain-mistralai

chromadb
sentence-transformers

pydantic